@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:300,400&subset=cyrillic");
.visibility-hidden {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Ubuntu Mono", sens-serif;
  line-height: 1;
  font-weight: 400; }

p {
  margin: 0; }
  p:not(:last-child) {
    margin-bottom: 1rem; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem; }

html, body {
  height: 100%;
  min-height: 100%; }

.page-main {
  min-height: 100%;
  display: grid;
  grid-template-columns: 208px auto;
  grid-template-rows: fit-content(120px) auto 120px; }
  .page-main .page-aside {
    grid-row: 1 / span 3; }

.page-aside {
  padding: 0.5rem;
  background-color: #001aff; }

.page-header {
  display: flex;
  align-items: center;
  padding: 3.5rem 3.5rem 3.5rem 0; }
  .page-header .page-header-thing {
    display: flex;
    margin-right: 2rem;
    margin-left: -1.25rem;
    transform: skewX(26deg); }
    .page-header .page-header-thing:before, .page-header .page-header-thing:after {
      content: '';
      display: block;
      background-color: #ff0012;
      box-shadow: 5px 5px 18px rgba(255, 0, 18, 0.3); }
    .page-header .page-header-thing:before {
      width: 32px;
      height: 57px; }
    .page-header .page-header-thing:after {
      width: 12px;
      height: 25px; }
  .page-header .page-header-title {
    color: #001aff;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: "Ubuntu Mono", sens-serif; }
  .page-header .page-header-contact {
    margin-left: auto;
    color: #ff0012;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    cursor: pointer;
    transition: all 250ms ease; }

.page-body {
  padding: 2rem 4rem; }

.page-body-section {
  max-width: 50rem;
  margin: auto auto 6rem;
  padding: 3.5rem; }

.section-box {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 0;
  background-color: #f5f5f5; }
  .section-box .section-box-header {
    flex-shrink: 0;
    width: 10rem;
    margin-left: 3.5rem;
    text-align: right;
    text-transform: lowercase;
    color: #dbdbdb; }
  .section-box .section-box-body {
    margin-left: -4rem; }

.button {
  position: relative;
  margin: 0;
  padding: 0;
  color: black;
  background-color: transparent;
  border: none;
  font-family: "Ubuntu Mono", sens-serif;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  z-index: 1; }
  .button:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    display: block;
    height: 4px;
    background-color: #ff0012;
    opacity: .5;
    z-index: -1;
    transition: bottom 250ms ease, background-color 250ms ease, height 250ms ease; }
  .button:focus {
    outline: none; }
    .button:focus:after {
      opacity: 1;
      bottom: -10px; }
  .button:hover:after {
    height: 14px;
    bottom: -4px; }
