@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:300,400&subset=cyrillic");
.visibility-hidden {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem;
  font-family: "Ubuntu Mono", sens-serif;
  line-height: 1;
  font-weight: 400; }

p {
  margin: 0; }
  p:not(:last-child) {
    margin-bottom: 1rem; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem; }

html, body {
  height: 100%;
  min-height: 100%; }

.page-main {
  min-height: 100%;
  display: grid;
  grid-template-columns: 208px auto;
  grid-template-rows: fit-content(120px) auto 120px; }
  .page-main .page-aside {
    grid-row: 1 / span 3; }

.page-aside {
  padding: 0.5rem;
  background-color: #001aff; }

.page-header {
  display: flex;
  align-items: center;
  padding: 3.5rem 3.5rem 3.5rem 0; }
  .page-header .page-header-thing {
    display: flex;
    margin-right: 2rem;
    margin-left: -1.25rem;
    transform: skewX(26deg); }
    .page-header .page-header-thing:before, .page-header .page-header-thing:after {
      content: '';
      display: block;
      background-color: #ff0012;
      box-shadow: 5px 5px 18px rgba(255, 0, 18, 0.3); }
    .page-header .page-header-thing:before {
      width: 32px;
      height: 57px; }
    .page-header .page-header-thing:after {
      width: 12px;
      height: 25px; }
  .page-header .page-header-title {
    color: #001aff;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: "Ubuntu Mono", sens-serif; }
  .page-header .page-header-contact {
    margin-left: auto;
    color: #ff0012;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    cursor: pointer;
    transition: all 250ms ease; }

.page-body {
  max-width: 62rem;
  margin: 0 auto;
  padding: 2rem 4rem; }

.page-body-section {
  margin: auto auto 6rem;
  padding: 3.5rem 0; }

.section-box {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #f5f5f5; }
  .section-box .section-header {
    flex-shrink: 0;
    width: 10rem;
    margin-left: 5rem;
    text-align: right;
    text-transform: lowercase;
    color: #dbdbdb; }
    .section-box .section-header h1, .section-box .section-header h2, .section-box .section-header h3, .section-box .section-header h4, .section-box .section-header h5, .section-box .section-header h6 {
      margin: 0; }
  .section-box .section-body {
    margin-left: -10rem; }

.scills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 0;
  padding: 0.5rem 0;
  list-style: none; }

.scills-list-item {
  position: relative;
  padding-left: 3.5rem; }

.scills-list-item-level {
  position: absolute;
  left: 0;
  color: #001aff;
  font-family: "Ubuntu Mono", sens-serif;
  font-size: 1.25rem;
  line-height: 1; }
  .scills-list-item-level::after {
    content: '/10';
    color: #dbdbdb; }

.scills-list-item-name {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-transform: lowercase; }

.scills-list-item-description {
  font-size: 1rem;
  line-height: 1.6; }

.button {
  position: relative;
  margin: 0;
  padding: 0;
  color: black;
  background-color: transparent;
  border: none;
  font-family: "Ubuntu Mono", sens-serif;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  z-index: 1; }
  .button:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    display: block;
    height: 4px;
    background-color: #ff0012;
    opacity: .5;
    z-index: -1;
    transition: bottom 250ms ease, background-color 250ms ease, height 250ms ease; }
  .button:focus {
    outline: none; }
    .button:focus:after {
      opacity: 1;
      bottom: -10px; }
  .button:hover:after {
    height: 14px;
    bottom: -4px; }
