.page-header {
    display: flex;
    align-items: center;
    padding: ($bit * 7) ($bit * 7) ($bit * 7) 0;

    .page-header-thing {
        display: flex;
        margin-right: $bit * 4;
        margin-left: $bit * -2.5;
        transform: skewX(26deg);

        &:before, &:after {
            content: '';
            display: block;
            background-color: map-get($colors, accent);
            box-shadow: 5px 5px 18px rgba(map-get($colors, accent), .3);
        }
        &:before {
            width: 32px;
            height: 57px;
        }
        &:after {
            width: 12px;
            height: 25px;
        }
    }
    .page-header-title {
        color: map-get($colors, primary);
        font-size: map-get($font-sizes, large);
        line-height: map-get($font-sizes, large);
        font-family: $header-font;
    }
    .page-header-contact {
        margin-left: auto;
        color: map-get($colors, accent);
        border: none;
        font-family: $global-font;
        font-size: map-get($font-sizes, small);
        font-weight: 400;
        line-height: map-get($font-sizes, default);
        cursor: pointer;
        transition: all 250ms ease;
    }
}
