html, body {
    height: 100%;
    min-height: 100%;
}

.page-main {
    min-height: 100%;
    display: grid;
    grid-template-columns: 208px auto;
    grid-template-rows: 120px auto 120px;

    .page-aside {
        grid-row: 1 / span 3;
    }
    .page-header {}
}
