@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url("#{$file-path}.eot");
        src: url("#{$file-path}.eot?#iefix") format('embedded-opentype'),
        url("#{$file-path}.woff") format('woff'),
        url("#{$file-path}.ttf") format('truetype'),
        url("#{$file-path}.svg##{$font-family}") format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
        font-display: swap;
    }

    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
            font-family: $font-family;
            src: url("#{$file-path}.svg##{$font-family}") format('svg');
        }
    }
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:300,400&subset=cyrillic');

$global-font: 'Ubuntu', sans-serif;
$header-font: 'Ubuntu Mono', sens-serif;
