.button {
    position: relative;
    margin: 0;
    padding: 0;
    color: black;
    background-color: transparent;
    border: none;
    font-family: $header-font;
    font-size: map-get($font-sizes, default);
    font-weight: 400;
    cursor: pointer;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        display: block;
        height: 4px;
        background-color: map-get($colors, accent);
        opacity: .5;
        z-index: -1;
        transition: bottom 250ms ease, background-color 250ms ease, height 250ms ease;
    }

    &:focus {
        outline: none;

        &::after {
            opacity: 1;
            bottom: -10px;
        }
    }
    &:hover {
        &::after {
            height: 14px;
            bottom: -4px;
        }
    }

}
