.scills-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $bit * 4;
    margin: 0;
    padding: $bit 0;
    list-style: none;
}
.scills-list-item {
    position: relative;
    padding-left: $bit * 7;
}
.scills-list-item-level {
    position: absolute;
    left: 0;
    color: map-get($colors, primary);
    font-family: $header-font;
    font-size: map-get($headers-sizes, h5);
    line-height: 1;

    &::after {
        content: '/10';
        color: map-get($colors, medium-gray);
    }
}
.scills-list-item-name {
    margin-top: 0;
    margin-bottom: $bit;
    text-transform: lowercase;
}
.scills-list-item-description {
    font-size: map-get($font-sizes, tiny);
    line-height: 1.6;
}
